body {
  background: rgba(0, 0, 0, 9);
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  /* background-color: #807d85;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23a9a9a9' fill-opacity='0.46'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background: #03001e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h3{
  font-size: 40px;
  color: rgb(255, 217, 0);
}

.header::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("../img/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}
.header:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.header:hover .header-content {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.header-content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  text-align: center;
  width: 300px;
  height: 350px;
  transition: all 1000ms;
}

.header-content .logo {
  height: 200px;
  width: 200px;
}
.title {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 2rem;
}
.text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  width: 900px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background: #1f1c2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(146, 141, 171, 0.5),
    rgba(31, 28, 44, 0.5)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(146, 141, 171, 0.5),
    rgba(31, 28, 44, 0.5)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background: #1f1c2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(146, 141, 171, 0.5),
    rgba(31, 28, 44, 0.5)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(146, 141, 171, 0.5),
    rgba(31, 28, 44, 0.5)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-center {
  text-align: center;
  margin: auto;
}

.bg-light{
    background-color: rgba(255, 255, 255, 0.199);
    color: #333;
}
.bg-dark{
    background-color: #2f3542;
    color:#fff;
}

.redes {
  padding: 2rem 0;
}

.footer {
  padding: 2.2rem;
}

.footer .p {
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 560px) {
  .header::after {
    height: 50vh;
  }

  .header-content {
    top: 5%;
    margin-top: 5px;
  }

  .header-content .logo {
    height: 140px;
    width: 140px;
  }

  .header-content .text {
    display: none;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    padding: 1.4rem 1rem;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .header-content .title,
  .header-content .text {
    display: none;
  }
  .header-content {
    top: 0;
  }
}
